*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.pdf
Thumbs.db
\#*\#
*.fls
*.fdb*
*.prv*
auto
*.tex
*conflict*
.#*
.DS_Store
prv_*
ltxpng
.directory
temp.org
*.listing
/.auctex-auto/
*.dep
/generated-assets/
.vscode/*
/output/